h3.tabName Squeeze
.actionBand
  div.button
    a(href= '/logout' style="color: #FE2E2E")
      span.customfont.fontSize2 &#xe805;
      span Logout
.tableWrapper
  .btnContainer
    button.btn.btn-large.btn-primary.btn-block(onclick="startSqueeze(this)" ) Start
    button.btn.btn-large.btn-info.btn-block(style="display:none", onclick="nextSqueeze()" ) Next
  .squeezeContainer
